<div class="w-full flex md:flex-row flex-col items-center md:mt-0 mt-4 mb-4">
  <mat-form-field class="w-full no-padding" appearance="outline">
    <mat-label>Marca</mat-label>
    <input (keyup.enter)="activateFilters()" [(ngModel)]="nombre" matInput placeholder="Ex. Lenovo" />
  </mat-form-field>
  <div class="ml-4 flex flex-row items-center md:justify-center justify-between mt-4 md:mt-0 md:w-1/4 w-full">
    <div class="mr-4">
      <button (click)="refreshMarcas(); nombre = ''" mat-raised-button>Limpiar</button>
    </div>
    <div class="mr-4">
      <button (click)="activateFilters()" mat-raised-button class="bg-dark-blue text-white">
        Buscar
      </button>
    </div>
    <button
      (click)="newMarca()"
      style="background-color: #04b14f"
      mat-mini-fab
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="flex flex-col items-center justify-center w-full" *ngIf="this.dataSource && this.dataSource.data.length == 0">
  <h1>No se encontraron resultados con estos filtros</h1>
  <div class="w-1/3">
    <ng-lottie
    [options]="options"
    (animationCreated)="animationCreated($event)"
    ></ng-lottie>
  </div>
</div>
<div [ngClass]="{'hidden': 
dataSource && dataSource.data.length == 0}">
<table mat-table [dataSource]="dataSource" class="w-full">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="small-cell">ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex flex-row justify-center">
        <div class="md:mx-2 mx-1">
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            class="b-editar"
            (click)="editMarca(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="md:mx-2 mx-1">
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            class="b-eliminar"
            (click)="deleteMarca(element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
