<!-- <div class="font-bold text-2xl">Respuesta:</div> -->
<div class="mt-4 text-xl text-center font-medium">{{data.message}}</div>
<div class="flex flex-col items-center justify-center mt-3 mb-3">
  <ng-lottie *ngIf="data.option == 1"
    class="w-2/4"
    [options]="optionsSuccess"
    (animationCreated)="animationCreated($event)"
  ></ng-lottie>
  <ng-lottie *ngIf="data.option != 1"
    class="w-2/4"
    [options]="optionsError"
    (animationCreated)="animationCreated($event)"
  ></ng-lottie>
  <div>
    <button mat-raised-button mat-dialog-close color="primary">Ok!</button>
  </div>
</div>
