<h1>Cambiar contraseña:</h1>
<form autocomplete="off" (ngSubmit)="submitForm()" [formGroup]="miFormulario" class="">
<div *ngIf="data" class="w-full flex flex-col ">
    <mat-form-field class="w-full no-padding" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="password" required="" matInput />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <span
      class="mb-1 text-red-500"
      [ngClass]="campoEsValido('password') ? 'visible' : 'invisible'"
    >
      La contraseña debe ser mayor de 6 carácteres
    </span>
</div>

<div *ngIf="data" class="w-full flex flex-col ">
    <mat-form-field class="w-full no-padding" appearance="outline">
      <mat-label>Confirmación de Contraseña</mat-label>
      <input [type]="hide2 ? 'password' : 'text'" formControlName="password2" required="" matInput />
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <span
      class="mb-1 text-red-500"
      [ngClass]="campoEsValido('password2') ? 'visible' : 'invisible'"
    >
      Las contraseñas no son iguales
    </span>
</div>
<div class="flex flex-row justify-between mt-3">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Agregar</button>
</div>
</form>