<div class="p-8 bg-light-blue pl-5 text-white text-xl font-medium	">
    Mi perfil
</div>
<div class="flex flex-col justify-center items-center md:px-32 md:pt-4 mt-4">
    <div class="text-3xl font-medium w-full text-left px-3">
        Datos personales:
    </div>
    <div class="mt-4 px-3 flex flex-col justify-center items-center" *ngIf="!staff">
        <h1>Este usuario no ha sido asignado a ningún personal. Favor de comunicarse con el administrador del sistema.</h1>
      <div class="w-1/3">
        <ng-lottie
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
    </div>
    <div *ngIf="staff" class="flex flex-row flex-wrap mt-4 font-regular text-xl w-full">
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Nombre:
            </div>
            <div class="w-full">
                {{ staff.nombre }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Apellido Paterno:
            </div>
            <div class="w-full">
                {{ staff.apellido_paterno }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Apellido Materno:
            </div>
            <div class="w-full">
                {{ staff.apellido_materno }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                CURP:
            </div>
            <div class="w-full">
                {{ staff.curp }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                RFC:
            </div>
            <div class="w-full">
                {{ staff.rfc }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Número de Teléfono:
            </div>
            <div class="w-full">
                {{ staff.telefono }}
            </div>
        </div>
        <div class="flex flex-col w-full mt-8 px-3">
            <div class="w-full font-medium">
                Dirección:
            </div>
            <div class="w-full">
                {{ staff.direccion }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Número de Staff:
            </div>
            <div class="w-full">
                {{ staff.num_staff }}
            </div>
        </div>
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Puesto:
            </div>
            <div class="w-full">
                {{ staff.puesto }}
            </div>
        </div>
        
        
        <div class="flex flex-col w-1/3 mt-8 px-3">
            <div class="w-full font-medium">
                Tipo de Usuario:
            </div>
            <div class="w-full">
                {{ nivel }}
            </div>
        </div>
    </div>
    
    <!-- <div class="md:w-1/4 md:p-0 px-16 py-4 w-full flex flex-col justify-center">
        <img class="w-full" src="../../../assets/imgs/user.png" alt="">
        <div class="mt-8 w-full flex justify-center">
            <button mat-raised-button class="bg-dark-blue text-white">Seleccionar imagen</button>
        </div>
    </div>
    <div class="md:w-3/4 w-full md:pl-8 md:px-0 px-4">
        <div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ex. Raul Galindo">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ex. Raul Galindo">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Número teléfonico</mat-label>
                <input matInput placeholder="Ex. Raul Galindo">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ex. Raul Galindo">
            </mat-form-field>
        </div>
        <div class="flex flex-row">
            <div class="md:ml-auto md:w-auto w-full">
                <button mat-raised-button class="bg-dark-blue text-white w-full">Guardar</button>
            </div>
        </div>
    </div> -->
    
</div>

