<mat-toolbar>
    <div class="flex flex-row w-full">
        <div class="flex flex-row">
            <button [routerLink]="['/home/personal']" matTooltip="Personal" mat-button color="primary">
                <mat-icon aria-hidden="false" aria-label="Example home icon">groups</mat-icon>
            </button>
            <button [matMenuTriggerFor]="menu" matTooltip="Infraestructura" mat-button color="primary">
                <mat-icon aria-hidden="false" aria-label="Example home icon">apartment</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="flex flex-col">
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ electrical : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">bolt</mat-icon>
                    Red eléctrica
                </button>
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ network : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
                    Red de datos
                </button>
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ cooling : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">heat_pump</mat-icon>
                    Sistema de enfriamiento
                </button>
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ hardware : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">desktop_windows</mat-icon>
                    Hardware
                </button>
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ software : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">
                        terminal
                    </mat-icon>
                    Software
                </button>
                <button class="align-middle" [routerLink]="['/home/infraestructure']" [queryParams]="{ extinguisher : true}" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">fire_extinguisher</mat-icon>
                    Sistema de extintores
                </button>
            </mat-menu>

            
        </div>
        <div class="ml-auto flex flex-row items-center justify-center">
            <div class="mr-3">
                <button matTooltip="Configuración" mat-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                </button>
            </div>
            <button [matMenuTriggerFor]="menu2" matTooltip="Infraestructura" mat-raised-button color="primary">
                <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
                Nombre del Usuario
            </button>
            <mat-menu #menu2="matMenu" class="flex flex-col">
                <button class="align-middle" [routerLink]="['/']" mat-menu-item color="primary">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
                    Cerrar sesión
                </button>
            </mat-menu>
        </div>
    </div>
    
</mat-toolbar>
<router-outlet></router-outlet>